.link {
    color: #007bff!important;
    text-decoration: none!important;
    background-color: transparent!important;
}

.link:hover {
    color: #0056b3!important;
    text-decoration: underline!important;
    cursor: pointer!important;
}

tr:hover {
	background-color: #f8f9fa!important;
	cursor: pointer;
}