<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ENI-Encheres</display-name>
  <welcome-file-list>
    <welcome-file>/WEB-INF/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>mdpOublie</display-name>
    <servlet-name>mdpOublie</servlet-name>
    <servlet-class>fr.eni.enchere.ihm.mdpOublie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mdpOublie</servlet-name>
    <url-pattern>/mdpOublie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>seDeconnecter</display-name>
    <servlet-name>seDeconnecter</servlet-name>
    <servlet-class>fr.eni.enchere.ihm.seDeconnecter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>seDeconnecter</servlet-name>
    <url-pattern>/seDeconnecter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profil</display-name>
    <servlet-name>Profil</servlet-name>
    <servlet-class>fr.eni.enchere.ihm.Profil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profil</servlet-name>
    <url-pattern>/Profil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>supprimerCompte</display-name>
    <servlet-name>supprimerCompte</servlet-name>
    <servlet-class>fr.eni.enchere.ihm.supprimerCompte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>supprimerCompte</servlet-name>
    <url-pattern>/supprimerCompte</url-pattern>
  </servlet-mapping>
</web-app>